.store-add-container{
  margin-bottom: 100px;
.form-element{
  width: 100%;
  padding: 15px;
  display: inline-block;
}

mat-grid-list{
  margin: 0 100px;
}

.description{
  display: block;
  margin: 0 100px;
  width: 86%;
}

.sumbit {
  margin: 0 -120px;
}

.submit-button{
  width: 10%;
  display: block;
  margin: auto;
  margin-right: 0;
}

h1{
  margin: 0 100px;
  padding: 15px;
}
}