.form-element{
  width: 100%;
  padding: 15px;
  display: inline-block;
}

mat-grid-list{
  margin: 0 40px;
}

.description{
  display: block;
  margin: 0 40px;
  width: 93%;
}

.sumbit {
  margin: 0 -80px;
}
.submit-button{
  width: 10%;
  display: block;
  margin: auto;
  margin-right: 0;
}