.store-list-container{
  height: 100vh;

  .utils-container{
    display: flex;
    justify-content: space-between;
  }
  
  table {
    width: 100%;
  }

  .table-container{
    padding: 0 30px;
    padding-bottom: 100px;
  }

  .search {
    width: 30em;
    padding: 0 30px;
  }
}
