<div class="store-list-container">
  <div class="utils-container">
    <div class="left-utils">
    <mat-form-field class="search" appearance="outline">
      <mat-label>Szukaj</mat-label>
      <input matInput (keyup)="applyFilter($event)" #input>
    </mat-form-field>
    <mat-form-field class="filter-by" appearance="outline">
      <mat-select (selectionChange)="onFilterByChange($event)">
        <mat-option *ngFor="let filter of filterByOptions" [value]="filter.value">
          {{filter.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
    <mat-paginator [pageSizeOptions]="[10, 15, 20]" 
      [length]="totalItems" 
      (page)="handlePage($event)" 
      [pageIndex]="page">
  </mat-paginator>
</div>
<div class="table-container">
  <table mat-table [dataSource]="dataSource" matSort (matSortChange)="sortData($event)">
    <ng-container matColumnDef="sku">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> SKU </th>
      <td mat-cell *matCellDef="let element"> {{element.sku}} </td>
    </ng-container>
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Nazwa </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>
    <ng-container matColumnDef="ean">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> EAN </th>
      <td mat-cell *matCellDef="let element"> {{element.ean}} </td>
    </ng-container>
    <ng-container matColumnDef="grossPrice">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Cena brutto [zł]</th>
      <td mat-cell *matCellDef="let element"> {{element.grossPrice}} zł</td>
    </ng-container>
    <ng-container matColumnDef="vat">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> VAT [%]</th>
      <td mat-cell *matCellDef="let element"> {{element.vat != -1 ? element.vat : "NP"}} </td>
    </ng-container>
    <ng-container matColumnDef="availability">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Dostępność </th>
      <td mat-cell *matCellDef="let element"> {{element.availability}} </td>
    </ng-container>
    <ng-container matColumnDef="availabilityUnit">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Jednostka </th>
      <td mat-cell *matCellDef="let element"> {{element.availabilityUnit}} </td>
    </ng-container>
    <ng-container matColumnDef="leadTime">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Czas dostawy </th>
      <td mat-cell *matCellDef="let element"> {{element.leadTime}} </td>
    </ng-container>
    <ng-container matColumnDef="createdAt">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Utworzono </th>
      <td mat-cell *matCellDef="let element"> {{element.createdAt | date:"dd/MM/yyyy"}} </td>
    </ng-container>
    <ng-container matColumnDef="modifiedAt">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Zmodyfikowano </th>
      <td mat-cell *matCellDef="let element"> {{element.modifiedAt | date:"dd/MM/yyyy"}} </td>
    </ng-container>
    <ng-container matColumnDef="isActive">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Aktywny </th>
      <td mat-cell *matCellDef="let element"> {{element.isActive ? "Tak" : "Nie"}} </td>
    </ng-container>
    <ng-container matColumnDef="category">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Kategoria </th>
      <td mat-cell *matCellDef="let element"> {{element.category.name}} </td>
    </ng-container>
    <ng-container matColumnDef="producer">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Producent </th>
      <td mat-cell *matCellDef="let element"> {{element.producer.name}} </td>
    </ng-container>
    <ng-container matColumnDef="type">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Typ </th>
      <td mat-cell *matCellDef="let element"> {{element.type.name}} </td>
    </ng-container>
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element"> <button mat-stroked-button  (click)="onEditBtnClick(element)">Edytuj</button> </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="14">No data matching the filter</td>
    </tr>
  </table>
</div>
</div>