<mat-sidenav-container>
  <mat-sidenav #sideNav align="start" mode="side" opened="{{isOpen}}" class="mat-elevation-z1">
    <mat-nav-list>
      <mat-accordion>
        <a mat-list-item [routerLink]="'/'"><mat-icon mat-list-icon>home</mat-icon><span mat-line>Dashboard</span></a>
        <a mat-list-item><mat-icon mat-list-icon>list</mat-icon><span mat-line>Zamówienia</span></a>
        <a mat-list-item><mat-icon mat-list-icon>local_shipping</mat-icon><span mat-line>Przesyłki</span></a>
        <a mat-list-item [routerLink]="'store'"><mat-icon mat-list-icon>inventory</mat-icon><span mat-line>Magazyn</span></a>
        <a mat-list-item><mat-icon mat-list-icon>data_usage</mat-icon><span mat-line>Raporty</span></a>
        <a mat-list-item><mat-icon mat-list-icon>account_box</mat-icon><span mat-line>Klienci</span></a>
        <a mat-list-item><mat-icon mat-list-icon>screen_share</mat-icon><span mat-line>Marketing</span></a>
        <a mat-list-item><mat-icon mat-list-icon>miscellaneous_services</mat-icon><span mat-line>Ustawienia serwisu</span></a>
        <a mat-list-item><mat-icon mat-list-icon>shopping_cart</mat-icon><span mat-line>Ustawienia sklepu</span></a>
      </mat-accordion>
    </mat-nav-list>
  </mat-sidenav>
  <div class="content">
    <router-outlet></router-outlet>  
  </div>
</mat-sidenav-container>