.mat-sidenav-container {
  width: 100%;
  background: transparent;
  position: fixed;
}
.mat-sidenav {
  width: 15vw;
  min-width: 200px !important;
}
.content {
  margin: 0 10px 10px 10px;
}

::ng-deep .mat-expansion-panel-body {
  padding: 0 15px!important;
}

::ng-deep .mat-drawer-content
{
  height: 100vh!important;
}